n8n-social-workflow.json
{
  "name": "MENIUS Social Auto-Publish",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "menius-social-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "menius-social-post"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"received\": true, \"platform\": $json.platform } }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "facebook",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "instagram",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "instagram"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "linkedin",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "linkedin"
            }
          ]
        },
        "options": {}
      },
      "id": "route-by-platform",
      "name": "Route by Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 380]
    },
    {
      "parameters": {
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "={{ $json.text }}" },
            { "name": "access_token", "value": "={{ $env.FACEBOOK_PAGE_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "facebook-post",
      "name": "Facebook — Post Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 220],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "={{ $json.text }}" },
            { "name": "access_token", "value": "={{ $env.FACEBOOK_PAGE_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "image_url", "value": "={{ $json.image_url }}" },
            { "name": "caption", "value": "={{ $json.text }}" },
            { "name": "access_token", "value": "={{ $env.FACEBOOK_PAGE_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "instagram-container",
      "name": "Instagram — Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media_publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "creation_id", "value": "={{ $json.id }}" },
            { "name": "access_token", "value": "={{ $env.FACEBOOK_PAGE_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "instagram-publish",
      "name": "Instagram — Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.LINKEDIN_ACCESS_TOKEN }}" },
            { "name": "LinkedIn-Version", "value": "202406" },
            { "name": "X-Restli-Protocol-Version", "value": "2.0.0" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ author: 'urn:li:organization:' + $env.LINKEDIN_ORG_ID, commentary: $json.text, visibility: 'PUBLIC', distribution: { feedDistribution: 'MAIN_FEED', targetEntities: [], thirdPartyDistributionChannels: [] }, lifecycleState: 'PUBLISHED', isReshareDisabledByAuthor: false }) }}",
        "options": {}
      },
      "id": "linkedin-post",
      "name": "LinkedIn — Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MENIUS_API_URL }}/api/social/update-status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "post_db_id", "value": "={{ $('Webhook').item.json.post_db_id }}" },
            { "name": "success", "value": "=true" },
            { "name": "external_post_id", "value": "={{ $json.id ?? $json.post_id ?? '' }}" }
          ]
        },
        "options": {}
      },
      "id": "update-db-success",
      "name": "Update DB — Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 380]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 },
          { "node": "Route by Platform", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by Platform": {
      "main": [
        [{ "node": "Facebook — Post Feed", "type": "main", "index": 0 }],
        [{ "node": "Instagram — Create Container", "type": "main", "index": 0 }],
        [{ "node": "LinkedIn — Post", "type": "main", "index": 0 }]
      ]
    },
    "Instagram — Create Container": {
      "main": [
        [{ "node": "Instagram — Publish", "type": "main", "index": 0 }]
      ]
    },
    "Facebook — Post Feed": {
      "main": [[{ "node": "Update DB — Success", "type": "main", "index": 0 }]]
    },
    "Instagram — Publish": {
      "main": [[{ "node": "Update DB — Success", "type": "main", "index": 0 }]]
    },
    "LinkedIn — Post": {
      "main": [[{ "node": "Update DB — Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-21T00:00:00.000Z",
  "versionId": "1"
}
